.main-container{
    padding: 0 50px;
   
}

.nav-top-links{
    font-size: 13px;
    color: black;
}

/* Navbar container ka style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Navbar background color */
    padding: 10px 20px; /* Padding for navbar elements */
  }
  
  /* Logo ka style */
  .nav-logo {
    font-weight: bold;
    color: #333; /* Logo text color */
    text-decoration: none; /* Remove underline from logo */
  }
  
  /* Navbar links (ul) ka style */
  .nav-list {
    list-style: none; /* Remove bullet points from the list */
    display: flex;
    gap: 20px; /* Spacing between navbar links */
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-link {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Link text color */
  }
  
  /* Search form ka style */
  .search-form {
    display: flex;
    align-items: center;
  }
  
  /* Login link ka style */
  .login-link {
    text-decoration: none; /* Remove underline from login link */
    color: #333; /* Login link text color */
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 5px; /* Spacing between icon and text */
  }
  
  /* Search button ka style */
  .search-button {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 5px 10px; /* Adjust padding as needed */
    cursor: pointer;
  }
  
  /* Toggler button icon ka style */
  .navbar-toggler-icon {
    background-color: #333; /* Toggler icon color */
  }
  
  /* Toggler button icon ke aas-paas ke padding ko hatane ke liye */
  .navbar-toggler {
    padding: 5px; /* Adjust padding as needed */
  }
  
  /* Navbar background color on hover */
  .nav-item:hover {
    background-color: #f2f2f2; /* Change color on hover */
  }
  